body
{
display:flex;


}
#left
{

width:33%;
margin-right:10px;
margin-left:10px;
}
#right
{

width:33%;

}
#create
{
width:33%;


}
button
{

background-color:green;
color:white;
}
#details
{
display:flex;
justify-content:sapce-between;


}
#countTasks
{
margin-right:20px
}